body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
  }
  
  .container {
    margin-top: 80px;
  }
  
  input {
    padding: 12px;
    width: 250px;
    border-radius: 8px;
    border: none;
  }
  
  button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: black;
  }
  
  #result {
    margin-top: 30px;
  }
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    margin: auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  }